
<div class="footer text-center">
    <small>
      Beijing Institute of Technology University ACM  Beta 1.0
    <small>
    <br/>
    <small>Copyright © 2014 Zhbit ACM Team. All Rights Reserved.</small>
    <br/>
    <small>Designer & Developer : ACM Team</small>
  </div>
<!-- 百度统计 -->
<!--<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe42e4f5d866ec38cdfe75ebc630240fa' type='text/javascript'%3E%3C/script%3E"));
</script>-->